# Example environment file: .env.example
# You should
    # 1. set your api key below 
    # 2. and rename this this file to .env
# You can do this manually or using the following cmd command:
# copy .env.example .env 
SMART_MONITORING_KEY ='set_your_smartmonitoring_api_key_'

# curl -d test ntfy.sh/my_value_in
curl -d test ntfy.sh/shelly_lvv_tsekkaus_onko_ollut_paalla
# ntfy on siis 
# shelly_lvv_tsekkaus_onko_ollut_paalla
